<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Search Petition</title>
</head>
<body>
<h1>Search for a Petition</h1>
<form action="/search" method="get">
  <label for="query">Search:</label>
  <input type="text" id="query" name="query" required>
  <button type="submit">Search</button>
</form>
<div id="content"></div>
<script>
  function loadPage(url) {
      $.ajax({
          url: url,
          method: 'GET',
          success: function(data) {
              $('#content').html(data);
          },
          error: function() {
              alert('Error loading page');
          }
      });
  }
</script>
</body>
</html>
