<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Petitions</title>
</head>
<body>
<h1>All Petitions</h1>
<ul>
    <li th:each="petition : ${petitions}">
        <a th:href="@{/petition/{id}(id=${petition.id})}" th:text="${petition.title}"></a>
    </li>
</ul>
<div id="content"></div>
<script>
    function loadPage(url) {
        $.ajax({
            url: url,
            method: 'GET',
            success: function(data) {
                $('#content').html(data);
            },
            error: function() {
                alert('Error loading page');
            }
        });
    }
</script>
</body>
</html>
